* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
	padding: 30px;
}

#banner {
  width: 100%;
}

main {
  background: #cccccc;
  padding: 50px 30px;
}

h2,
h3 {
  text-align: center;
}

p {
	text-align: center;
	padding-top: 20px;
}

#missao {
	font-size: 20px;
}

em strong {
	color: #ff0000;
}

section {
	background: #ffffff;
  padding: 20px;
}

h3 {
	padding-bottom: 30px;
	font-size: 30px;
}

ul {
  display: inline-block;
  vertical-align: top;
  font-style: italic;
	padding-left: 40px;
  margin-right: 25%;
  width: 20%;
}

.section-img {
  width: 50%;
}
