@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #FFFFFF;  
  --black-color: #000000;
  --light-gray: #F5F5F5;
  --cerise-color: #DB1E8C;
  --card-title-color: #364372;
  --carnation-color: #FF97D3;  
  --cornflower-color: #264FEC;
  --pickled-bluewood-color: #33475B;  
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--pickled-bluewood-color);
}

.flex {
  display: flex;
}

/* HEADER */

header,
footer {
  background-color: var(--white-color);
}

header {
  min-height: 5rem;
  margin-bottom: 1.5rem;
}

.container-elementos-header,
.container-elementos-footer {
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  
  width: 80rem;
  margin: 0 auto;
}

.titulo-principal {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--cornflower-color);
}

.label-pesquisa {
  align-items: center;
  gap: .25rem;

  height: 2.5rem;
  padding: .5rem;
  border-radius: .25rem;
  background-color: var(--cerise-color);
}

.input-pesquisa {
  border: none;
  padding: .25rem;
  background-color: transparent;
}

::placeholder {
  color: var(--carnation-color);
}

/* MAIN */

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 0 1rem;

  max-width: 80rem;
  margin: 0 auto;
}

.container-card {
  flex-direction: column;
  justify-content: space-between;

  padding: 2rem;
  margin: 1rem;
  max-width: 25rem;
  height: 31rem;
  border-radius: .25rem;
  background-color: var(--light-gray);
}

.card-title {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  color: var(--card-title-color);
}

.card-content {
  line-height: 1.5rem;
}

.card-break-line {
  padding: 1rem 0;
}

.card-button {
  width: 9rem;
  height: 3rem;
  border-radius: .25rem;
  text-decoration: none;
  color: var(--cornflower-color);
  border: 2px solid var(--cornflower-color);
}

.link-button {
  font-weight: 400;
  font-size: .875rem;

  text-decoration: none;
}

/* FOOTER */

footer {
  min-height: 6.875rem;
  margin-top: 2.5rem;
}

.container-logos {
  align-items: center;
  gap: 1.65rem;
}

.link-ancoras {
  font-weight: 400;
  font-size: .875rem;

  text-decoration: none;
  color: var(--black-color);
}

.container-textos-icones {
  gap: 3.7rem;
}

.container-textos {
  flex-direction: column;
  gap: .5rem;
}

.container-icones {
  gap: 1.9rem;
}

.container-center {
  flex-direction: column;
  align-items: center;
  gap: 1.125rem;
}

@media screen and (max-width: 1296px) {
  .container-card {
    height: 35rem;
  }
}

@media screen and (max-width: 1200px) {
  main {
    grid-template-columns: repeat(2, 1fr); 
  }

  .container-card {
    height: 35rem;
  }
}

@media screen and (max-width: 906px) {
  .container-elementos-footer {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: repeat(1, 1fr); 
  }

  .container-elementos-header {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .container-textos-icones {
    flex-direction: column;
    gap: 1rem;
  }

  .container-textos {
    text-align: center;
  }
}

@media screen and (max-width: 406px) {
  .bigger {
    height: 40rem;
  }
}

@media screen and (max-width: 365px) {
  .titulo-principal {
    font-size: 1.25rem;
  }

  .bigger {
    height: 47rem;
  }

  .medium {
    height: 40rem;
  }
}
